* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home-d1 {
    display: flex;
    padding: 48px 120px;
    height: 593px;
    flex-direction: column;
    background-color: #f4f6f2;
}

.home-d1-navbar {
    width: 100%;

}

.home-d1-navbar-rowalign-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-d1-navbar-rowalign-items-col-1 {
    padding-left: 15px;
    padding-right: 15px;
}

.home-d1-navbar-rowalign-items-col-1-logo img {
    width: 139px;
}

.home-d1-navbar-rowalign-items-col-2 {
    width: 1050px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.home-d1-navbar-rowalign-items-col-2-search {
    width: 250px;
    height: 44.8px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    cursor: pointer;
    padding: 8px var(--space-inset-16-px, 16px);
    border-radius: 37px;
    border: 1px solid #D7D6CD;
    align-items: center;
    gap: 16px;
    background-color: #fff;
}

.home-d1-navbar-rowalign-items-col-2-search input {
    border: none;
    outline: none;
    background: transparent;
}

.home-d1-navbar-rowalign-items-col-2-search ::placeholder {
    color: #D7D6CD;
    font-size: 16px;
    font-family: Nunito;
}

.home-d1-navbar-rowalign-items-col-2-search i {
    color: #D7D6CD;
}


.home-d1-navbar-rowalign-items-col-2-menu {
    width: 550px;
    display: flex;
    align-items: center;
    justify-items: center;
    padding-left: 25px;
}


.home-d1-navbar-rowalign-items-col-2-menu-ul {
    width: 500px;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.home-d1-navbar-rowalign-items-col-2-menu-ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey-800, #282829);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2.1px;
    text-transform: uppercase;

    position: relative;
}

.home-d1-navbar-rowalign-items-col-2-menu-ul a:after {
    position: absolute;
    content: "";
    background-color: #096f09;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}



.home-d1-navbar-rowalign-items-col-2-menu-ul a:hover:after {
    width: 100%;
}

.home-d1-navbar-rowalign-items-col-2-menu-ul a:hover {
    color: #077507;
    font-weight: bold;
}


.home-2-d1-navbar-rowalign-items-col-2-login button img {
    height: 48px;
}

.home-2-d1-navbar-rowalign-items-col-2-login {
    display: flex;
    justify-content: space-between;
    width: 120px;
}


.content {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.content-c1 {
    display: flex;
    flex-direction: column;
    width: 394px;
}

.content-c2 {
    display: flex;
    flex-direction: column;
    width: 792px;
}

.content-c1-d1-wrap {
    height: 180px;
    border-radius: 16px;
    border: 1px solid #42795E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-c1-d1-img {
    display: flex;
    justify-content: center;
}

.content-c1-d1-p1 {
    display: flex;
    justify-content: center;
    color: #0F0F0F;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-top: 16px;
}

.content-c1-d1-p2 {
    color: #8D8E8F;
    text-align: center;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.content-c1-d2 {
    margin-top: 16px;
    border-radius: 16px;
    border: 1px solid #42795E;
    height: 182px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-c1-d2-p1 {
    color: #0F0F0F;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin: 16px 16px;
}

.content-c1-d2-p2 {
    color: #424242;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin: 8px 16px;
}

.content-c2-1 {
    color: #0F0F0F;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.content-c2 {
    height: 210px;
    border-radius: 16px;
    border: 1px solid #42795E;
    padding: 16px;
}

.content-c2-d1,
.content-c2-d2,
.content-c2-d3 {
    display: flex;
    margin-top: 16px;
}

.content-c2-d1-p1,
.content-c2-d2-p1,
.content-c2-d3-p1 {
    color: #5B5B5C;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.content-c2-d1-p2,
.content-c2-d2-p2,
.content-c2-d3-p2 {
    margin-left: 114px;
    color: #5B5B5C;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}


.content-c2-d1 img,
.content-c2-d2 img,
.content-c2-d3 img {
    margin-left: 24px;
}


.inputbox {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #747475;
    margin-left: 114px;
}

.inputbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #5B5B5C;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.content-c2-d3 {  
   align-items: center;
}



.Thongbao {
    position: relative;
}

.Dropdown {
    position: absolute;
    margin-left: -150px;
    margin-top: 10px;
    width: 393px;
    height: 294px;
    border-radius: 16px;
    background: #FFF;
    z-index: 9999;
    padding: 16px;
}

.Dropdown-p1 {
    margin-top: 8px;
    color: #004000;
    text-align: center;

    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.Dropdown-img1 {
    display: flex;
    justify-content: center;

}

.Dropdown-1 p {
    width: 360.914px;
    color: #282829;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-top: -8px;
}

.Dropdown-1 img {
    margin-left: 80px;
    width: 7px;
}

.Dropdown-2 p {
    color: #747475;
    font-family: Quicksand;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.015px;
}

.Dropdown-2-1 {
    width: 360.914px;
    height: 0.5px;


    background: #004000;
}

.Dropdown-1 {
    margin-top: 16px;
}

.Dropdown-p2 {
    margin-top: 16px;
    color: #747475;
    text-align: center;

    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.Dropdown{
    display:none;
}











































































.home-end {
    display: flex;
    padding: 48px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 68px;
    background: #ECECEC;
}





.home-end-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 120px;
    align-items: flex-start;
}

.home-end-content-col1-line1 {
    color: #888;
    font-family: Nunito;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 170.5%;
}

.home-end-content-col1-line2 {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 446px;
    height: 1px;
    background: #CDCDCD;
}

.home-end-content-col1-line3-1 {
    color: #000;
    font-family: Nunito;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 170.5%;
}

.home-end-content-col1-line3-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.home-end-content-col1-line3-2 input {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 101px;
    border: 1px solid #004800;
    width: 293px;
    height: 51px;
}

.home-end-content-col1-line3-2 input::placeholder {
    color: #7E7E7E;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 170.5%;
}

.home-end-content-col1-line3-2 button {
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 101px;
    background: #004800;
    border: 2px solid #004800;
    color: #FFF;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
}

.home-end-content-col1-line3-2 button:hover {
    background: #06a306;
    border: 2px solid #06a306;
    color: #fff;
}

.home-end-content-col2 ul {
    list-style: none;
    line-height: 2;
}

.home-end-content-col2 a {
    text-decoration: none;
    color: #000;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.home-end-content-col2 a:hover {
    text-decoration: underline;
}

.home-end-content-col3 {
    display: flex;
    flex-direction: column;
}

.home-end-content-col3-line1 {
    color: #000;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 170.5%;
}

.home-end-content-col3-line2,
.home-end-content-col3-line3,
.home-end-content-col3-line4 {
    color: #000;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}

.home-end-content-col3-line2 i,
.home-end-content-col3-line3 i,
.home-end-content-col3-line4 i {
    width: 24px;
    height: 24px;
    font-size: medium;
}

.home-end-content-col3-line2 {
    display: flex;
    justify-content: flex-start;
}

.home-end-content-col3-line3 {
    display: flex;
    justify-content: flex-start;
}

.home-end-content-col3-line4 {
    display: flex;
    justify-content: flex-start;
}

.home-end-img {
    display: flex;
    width: 100%;
    padding: 0px 120px;
    align-items: flex-start;
}

.home-end-img img {
    width: 182px;
}