* {
    margin: 0;
    padding: 0;
    color: #ECECEC;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(anhdn.png);
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    min-height: 100vh;

}
.iconsax {
    font-size: 24px;
    color: #FFFFFF;
} 
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 16px;
    font-family: 'Nunito', sans-serif;
}
.form-box{
    width: 400px;
    background: url(bgnoise5.png);
    background-size: cover;
    border-radius: 24px;
    padding: 32px 40px;
    align-items: center;
    border: 2px solid #FFF;
    backdrop-filter: blur(8px);
}
/* -------------------------------button phụ */
.form-box .btn2{
    width: 100%;
    height: 52px;
    background: none;
    margin-top: 16px;
    border: 2px solid #ECECEC;
    outline: none;
    border-radius: 40px;
    box-shadow: 4px 4px 9.6px 0px rgba(174, 174, 174, 0.15);
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.btnbox img{
    position: absolute;
    right: 145px;
    padding-top: 30px;
}
.form-box h3{
    /* H3-48/regular */
    font-family: Playfair Display;
    padding-bottom: 32px;
    font-size: 48px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: 120%; /* 57.6px */
    letter-spacing: 0.96px;
}
/* ------------------------------ bộ nhập ngoài */
.nhap{
    padding-bottom: 16px;
    width: 50px;
    margin: 8px;
}
.nhap label{
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2.1px;
}
.Ten-dn{
    margin-bottom: 8px;
}
/*------------------------------- bộ nhập */
.form-box .inputbox{
    position: relative;
    width: 120px;
    margin-right: 0px;
    margin-top: 8px;
    width: 100%;
    border: 2px solid #ECECEC;
    border-radius: 40px;
    padding: 16px 32px;
}
.inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}
.inputbox input::placeholder{
    color: #ECECEC;
}
.inputbox i{
    position: absolute;
    right: 32px;
}

/* duoi */
.form-box .forget{
    position: relative;
    margin: px;
    width: 310px;
    padding-bottom: 16px;
}
.form-box .nhap{
    width: 332px;
    margin: 0px;
}
.forget a{
    text-decoration: none;
    
}
.forget a:hover{
    text-decoration: underline;
}
/* ------------------------------------Button */
.form-box .btn{
    width: 100%;
    height: 52px;
    background: #004800;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 4px 4px 9.6px 0px rgba(174, 174, 174, 0.15);
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.form-box .register{
    text-align: center;
    margin-top: 32px;
}
.form-box .register a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.form-box .register a:hover{
    font-size: 16px;
    text-decoration: underline;
}

.dangnhap button:hover{
    background-color: #067506;
}